*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 48px;
}

.logo {
  width: 76px;
  height: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

.menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu img {
  width: 24px;
  height: 24px;
}

.headline-section {
  background-image: url("./img/header-shapes\ mobile@2x.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 70vh;
  padding: 0 24px;
  border-radius: 0 0 0 90px;
  background-color: #fff;
  z-index: 100;
  position: relative;
}

.heading-1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 12px;
}

.para {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.link {
  margin-bottom: 12px;
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: start;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a img {
  margin-right: 19px;
  width: 20px;
}

.my-recent-works-section {
  display: grid;
  grid-row-gap: 88px;
  padding: 200px 24px 110px 24px;
  background-color: #e5e5e540;
  margin-top: -100px;
}

.card-my-recent-works {
  grid-column: 1 / -1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px 16px 24px 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snapshoot {
  width: 100%;
}

.heading-3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 0 10px 0 0;
}

.items {
  list-style: none;
  display: flex;
  align-items: center;
}

.items li {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #7a869a;
  margin-right: 12px;
}

.active {
  color: #344563 !important;
}

.items li span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
}

.card-my-recent-works p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
}

.tags li {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.clear {
  clear: left;
}

.btn-primary {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  background-color: transparent;
}

.section-about {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 114px 24px;
  gap: 12px;
}

.technology-categories-list {
  list-style: none;
  align-self: stretch;
  padding: 15px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.technology-categories {
  display: flex;
  justify-content: space-between;
}

.technology-categories-active {
  flex-direction: column;
  gap: 36px;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.technology-categories-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.technology-categories-img {
  width: 24px;
  height: 24px;
}

.list-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 9px 12px 9px 12px;
}

.list-item .item img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.b-border {
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 23px;
}
